* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

button {
    cursor: pointer;
    border: none;
    background: #bfaefc;
    color: #fff;
    font-weight: 700;
}
