* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    background: #bfaefc;
    color: #fff;
    font-weight: 700;
}